[Unit]
Description=Log Service Demonstration
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/logservice/timelog.py

[Install]
WantedBy=multi-user.target
